<!-- jQuery -->
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

<!-- Bootstrap -->
<script src="{{ "../css/2016_style/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Optional Navbar Animation Scripts -->
<script src="{{ "../css/2016_style/js/classie.js" | prepend: site.baseurl }}"></script>
<script src="{{ "../css/2016_style/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>


<!-- BACK TO TOP -->
<script>
$(function() {

  // SHOW / HIDE BUTTON
  $(window).scroll(function() {

    if ($(this).scrollTop() > 300) {
      $('.back-to-top').addClass('show');
    } else {
      $('.back-to-top').removeClass('show');
    }

  });

  // SMOOTH SCROLL TO TOP
  $('.back-to-top').on('click', function(event) {

    event.preventDefault();

    window.scrollTo({
      top: 0,
      behavior: 'smooth'
    });

  });

});
</script>


<!-- NAVBAR SHRINK -->
<script>
$(window).scroll(function() {

  var trigger = $('#intro').outerHeight() || 300;

  if ($(this).scrollTop() > trigger + 60) {

    $('.navbar-default').addClass('navbar-shrink');

  } else {

    $('.navbar-default').removeClass('navbar-shrink');

  }

});
</script>


<!-- SPEAKER BIO TOGGLE -->
<script>
$(document).on('click', '.speaker-toggle', function(e) {

  e.stopPropagation();

  var $currentRow = $(this).closest('.speaker-row');

  // Close all others
  $('.speaker-row').not($currentRow).removeClass('active');

  $('.speaker-row')
    .not($currentRow)
    .find('.speaker-toggle')
    .text('View full bio →');

  // Toggle current
  $currentRow.toggleClass('active');

  // Update button text
  if ($currentRow.hasClass('active')) {

    $(this).text('Hide bio ↑');

  } else {

    $(this).text('View full bio →');

  }

});
</script>
