<!-- jQuery Version 1.11.0 -->
<script src="{{ "../css/2016_style/js/jquery-1.11.0.js" | prepend: site.baseurl }}"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "../css/2016_style/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "../css/2016_style/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "../css/2016_style/js/classie.js" | prepend: site.baseurl }}"></script>
<script src="{{ "../css/2016_style/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "../css/2016_style/js/agency.js" | prepend: site.baseurl }}"></script>

<!-- Smooth Scroll Fix -->
<script>
$(document).ready(function() {
  $('a.page-scroll').on('click', function(event) {
      var target = $(this.getAttribute('href'));
      if (target.length) {
          event.preventDefault();
          $('html, body').stop().animate({
              scrollTop: target.offset().top - 70
          }, 1200);
      }
  });
});
</script>
