<!-- jQuery (FIXED - use CDN so it ALWAYS works) -->
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ "../css/2016_style/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>

<!-- Plugin JavaScript -->
<script src="{{ "../css/2016_style/js/jquery.easing.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "../css/2016_style/js/classie.js" | prepend: site.baseurl }}"></script>
<script src="{{ "../css/2016_style/js/cbpAnimatedHeader.js" | prepend: site.baseurl }}"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ "../css/2016_style/js/agency.js" | prepend: site.baseurl }}"></script>

<!-- Smooth Scroll (backup + override) -->
<script>
$(function() {
  $('a.page-scroll').on('click', function(event) {
      var target = $(this.getAttribute('href'));
      if (target.length) {
          event.preventDefault();
          $('html, body').stop().animate({
              scrollTop: target.offset().top - 70
          }, 1200);
      }
  });
});
</script>

<script>
$(function() {

  // SHOW / HIDE BUTTON
  $(window).scroll(function() {
    if ($(this).scrollTop() > 300) {
      $('.back-to-top').addClass('show');
    } else {
      $('.back-to-top').removeClass('show');
    }
  });

  // SMOOTH SCROLL TO TOP
  $('.back-to-top').on('click', function(event) {
    event.preventDefault();
    $('html, body').animate({
      scrollTop: 0
    }, 800);
  });

});
</script>

<script>
$(window).scroll(function() {
  var trigger = $('#intro').height();

  if ($(this).scrollTop() > trigger + 60) {
    $('.navbar-default').addClass('navbar-shrink');
  } else {
    $('.navbar-default').removeClass('navbar-shrink');
  }
});
</script>

<script>
$(function() {

  $('.speaker-toggle').on('click', function(e) {
    e.stopPropagation();

    var $currentRow = $(this).closest('.speaker-row');

    // Close all others
    $('.speaker-row').not($currentRow).removeClass('active');
    $('.speaker-row').not($currentRow).find('.speaker-toggle').text('View full bio →');

    // Toggle current
    $currentRow.toggleClass('active');

    // Update button text
    if ($currentRow.hasClass('active')) {
      $(this).text('Hide bio ↑');
    } else {
      $(this).text('View full bio →');
    }

  });

});
</script>


